@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

html,
body {
  background-color: #f9f2ea;
  padding: 0;
  margin: 0;
  font-family: "Barlow", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
